# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

.qtcreator/
build/

# CLion / IntelliJ
.idea/

# Qt Creator
*.user
*.user.*
*.qtc_clangd/

# VSCode (opcional)
.vscode/

# =========================
# Build / CMake
# =========================

# Pastas de build
cmake-build-*/
out/

# Arquivos gerados pelo CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json

# =========================
# Binários
# =========================

*.exe
*.out
*.o
*.obj
*.so
*.dll
*.a

# =========================
# Sistema operacional
# =========================

.DS_Store
Thumbs.db

# Ninja
.ninja_deps
.ninja_log
build.ninja
rules.ninja